<div class="resource-data-container">
  <p-card>
    <ng-template pTemplate="header">
      <div class="card-header">
        <div class="header-info">
          <h1>{{ resourceName }}</h1>
          <p class="connection-url">{{ connectionUrl }}</p>
        </div>
        <p-button
          label="Back to resources"
          icon="pi pi-arrow-left"
          severity="secondary"
          (onClick)="backToResources()"
        ></p-button>
      </div>
    </ng-template>

    <p-message
      *ngIf="errorMessage"
      severity="error"
      [text]="errorMessage"
      styleClass="w-full mb-3"
    ></p-message>

    <div *ngIf="loading && !dataInitialized" class="loading-container">
      <p-progressSpinner></p-progressSpinner>
      <p>Loading data...</p>
    </div>

    <div *ngIf="!loading && dataInitialized && totalRecords === 0 && !errorMessage" class="empty-state">
      <i class="pi pi-database"></i>
      <p>No data available for this resource</p>
    </div>

    <p-table
      *ngIf="dataInitialized && totalRecords > 0"
      [value]="rows"
      [paginator]="true"
      [rows]="pageSize"
      [rowsPerPageOptions]="[10, 25, 50, 100]"
      [totalRecords]="totalRecords"
      [lazy]="true"
      [lazyLoadOnInit]="false"
      (onLazyLoad)="onLazyLoad($event)"
      [loading]="loading"
      [responsiveLayout]="'scroll'"
      class="resource-data-table"
    >
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let column of columns; trackBy: trackColumn">
            {{ column }}
          </th>
          <th class="metadata-column">Metadata</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row>
        <tr>
          <td *ngFor="let column of columns; trackBy: trackColumn">
            {{ formatValue(row[column]) }}
          </td>
          <td class="metadata-column">
            <p-button
              label="Show Metadata"
              size="small"
              [disabled]="!row['__metadata']"
              (onClick)="openMetadataDialog(row['__metadata'])"
            ></p-button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="(columns.length + 1) || 1">
            No records found
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

  <p-dialog
    header="Metadata"
    [(visible)]="metadataDialogVisible"
    [modal]="true"
    [style]="{ width: '600px' }"
    [dismissableMask]="true"
    (onHide)="closeMetadataDialog()"
  >
    <ng-container *ngIf="selectedMetadata; else noMetadata">
      <pre>{{ formatValue(selectedMetadata) }}</pre>
    </ng-container>

    <ng-template #noMetadata>
      <p>No metadata available for this record.</p>
    </ng-template>
  </p-dialog>
</div>

