<div class="resources-container">
  <p-card>
    <ng-template pTemplate="header">
      <div class="card-header">
        <div class="header-content">
          <div>
            <h1>OData Resources</h1>
            <p class="connection-info">{{ connectionUrl }}</p>
          </div>
          <p-button
            label="Disconnect"
            icon="pi pi-sign-out"
            severity="secondary"
            (onClick)="disconnect()"
          ></p-button>
        </div>
      </div>
    </ng-template>

    <input
      #fileInput
      type="file"
      accept="application/json"
      (change)="onSnapshotFileSelected($event)"
      hidden
    />

    <p-message
      *ngIf="errorMessage"
      severity="error"
      [text]="errorMessage"
      styleClass="w-full mb-3"
    ></p-message>

    <div *ngIf="loading" class="loading-container">
      <p-progressSpinner></p-progressSpinner>
      <p>Loading resources...</p>
    </div>

    <div *ngIf="!loading && resources.length === 0 && !errorMessage" class="empty-state">
      <i class="pi pi-inbox" style="font-size: 3rem; color: var(--text-color-secondary);"></i>
      <p>No resources found</p>
    </div>

    <div
      *ngIf="!loading && resources.length > 0"
      class="search-bar"
    >
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          placeholder="Search by name, kind, or URL"
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearchTermChange()"
        />
      </span>
      <span class="search-summary">
        Showing {{ filteredResources.length }} of {{ resources.length }} resource(s)
      </span>
      <div class="accessible-filter">
        <input
          type="checkbox"
          id="accessibleOnlyCheckbox"
          [(ngModel)]="showAccessibleOnly"
          (change)="onAccessibleFilterChange()"
          [disabled]="resources.length === 0"
        />
        <label for="accessibleOnlyCheckbox">Accessible only</label>
      </div>
    </div>

    <div
      *ngIf="!loading && resources.length > 0"
      class="resource-actions"
    >
      <div class="actions-group">
        <p-button
          label="Check accessibility"
          icon="pi pi-sync"
          severity="info"
          (onClick)="triggerAccessibilityCheck()"
          [loading]="isCheckingAccessibility"
          [disabled]="isCheckingAccessibility"
        ></p-button>
        <span
          *ngIf="isCheckingAccessibility"
          class="accessibility-progress"
        >
          Checking {{ checkedAccessibilityCount }} / {{ totalAccessibilityChecks }}
        </span>
        <p-button
          label="Download JSON"
          icon="pi pi-download"
          severity="secondary"
          (onClick)="downloadResourcesSnapshot()"
        ></p-button>
      </div>
      <div class="actions-group">
        <p-button
          label="Upload JSON"
          icon="pi pi-upload"
          severity="secondary"
          (onClick)="openSnapshotUpload()"
        ></p-button>
      </div>
    </div>

    <p-table
      *ngIf="!loading && resources.length > 0"
      [value]="filteredResources"
      [paginator]="true"
      [rows]="20"
      [rowsPerPageOptions]="[10, 20, 50, 100]"
      styleClass="p-datatable-striped"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">
          <span class="resource-count">Found {{ filteredResources.length }} resource(s)</span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 35%">Name</th>
          <th style="width: 20%">Kind</th>
          <th style="width: 15%">Accessible</th>
          <th style="width: 30%">URL</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-resource>
        <tr>
          <td>
            <strong>{{ resource.name }}</strong>
          </td>
          <td>
            <p-tag [value]="resource.kind" [severity]="getSeverity(resource.kind)"></p-tag>
          </td>
          <td>
            <ng-container [ngSwitch]="resource.accessible">
              <p-tag
                *ngSwitchCase="true"
                value="Yes"
                severity="success"
              ></p-tag>
              <p-tag
                *ngSwitchCase="false"
                value="No"
                severity="danger"
              ></p-tag>
              <span
                *ngSwitchDefault
                class="accessibility-status"
              >
                <ng-container *ngIf="isCheckingAccessibility">
                  <i class="pi pi-spin pi-spinner"></i>
                  Checking...
                </ng-container>
                <ng-container *ngIf="!isCheckingAccessibility">
                  <i class="pi pi-clock"></i>
                  Not checked
                </ng-container>
              </span>
            </ng-container>
          </td>
          <td>
            <div class="url-cell">
              <span class="url-text">{{ resource.url }}</span>
              <p-button
                icon="pi pi-database"
                label="View data"
                [text]="true"
                severity="secondary"
                [rounded]="true"
                (onClick)="openResource(resource)"
                pTooltip="View resource data"
              ></p-button>
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">No resources found</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>

